mesin/storage/framework/.DS_Store
mesin/storage/.DS_Store
mesin/storage/framework/.DS_Store
mesin/resources/js/.DS_Store
mesin/resources/.DS_Store
mesin/database/.DS_Store
mesin/bootstrap/.DS_Store
mesin/app/Http/.DS_Store
mesin/app/.DS_Store
mesin/.DS_Store
build/